G7PB_DB_DATABASE=g7pb
G7PB_DB_USERNAME=g7pb
G7PB_DB_PASSWORD=replace-with-random-secret
G7PB_DB_ROOT_PASSWORD=replace-with-random-secret
G7PB_APP_NAME="G7 Page Builder Dev"
G7PB_ADMIN_NAME=G7PB_Admin
G7PB_ADMIN_EMAIL=admin@g7pb.test
G7PB_ADMIN_PASSWORD=replace-with-random-secret
G7PB_ENABLE_REVERB=0
G7PB_SESSION_LIFETIME=10080
G7PB_HOST_UID=501
G7PB_HOST_GID=20
