[client]
socket=/run/mysqld/mysqld.sock
default-character-set=utf8mb4

[mariadbd]
bind-address=127.0.0.1
port=3306
datadir=/var/lib/g7pb/mysql
socket=/run/mysqld/mysqld.sock
pid-file=/run/mysqld/mysqld.pid
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-name-resolve
innodb-buffer-pool-size=256M
max-connections=80
performance-schema=OFF
